@model IEnumerable<WebApplication1.Models.COSTOMER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "InitialWallet")
</p>

@if (TempData["創建訊息"] != null)
{
    <script type="text/javascript">
                var message =@Html.Raw(Json.Encode(TempData["創建訊息"]));
                alert(message);
    </script>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wallet)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wallet)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
