@model IEnumerable<WebApplication1.Models.GOOD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form asp-controller="GOODs" asp-action="Index">
    <p>
        Title:<input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

@if (TempData["創建訊息"] != null)
{
    <script type="text/javascript">
                var message =@Html.Raw(Json.Encode(TempData["創建訊息"]));
                alert(message);
    </script>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount_price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount_price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
