
@{
    ViewBag.Title = "PassViewBag";
}

<h2>PassViewBag</h2>

<h3>ViewBag傳來的資料</h3>

<ul>
    <li>學號 @ViewBag.SID</li>
    <li>姓名 @ViewBag.Name</li>
    <li>年齡 @((int)ViewBag.Age + 1)</li>
    <li>單身 @ViewBag.Single</li>

</ul>

<ul>
    @foreach (var item in ViewBag.petList)
    {
        <li>@item</li>
    }
</ul>

<h4>ViewData.Model傳資料</h4>
<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>